/* 中间分类模块开始 */
	.grid {
		height: 480px;
	}
	.grid .grid-col1 {
		width: 190px;
		height: 100%;
		background-color: #fff;
		position: relative;
	}
	.grid .grid-col1 ul {
		padding: 6px 0;
	}
	.grid .grid-col1 ul li {
		height: 26px;
		line-height: 26px;
		font-size: 14px;
		padding-left: 18px;
	}
	.grid .grid-col1 ul li:hover {
		background-color: #eee;
	}
	.grid .grid-col1 li a,
	.grid .grid-col1 li span {
		color: #626262;
	}
	.grid .grid-col1 li span {
		margin: 0 2px;
	}
	.grid .grid-col1 li a:hover {
		color: #e33333;
	}
	.grid-col1 .ad {
		width: 255px;
		height: 470px;
		position: absolute;
		top: 0;
		left: -250px;
	}
	.grid-col1 .ad-r {
		position: absolute;
		top: 0;
		left: 250px;
		z-index: 999;
		width: 0;
		height: 470px;
		background: url(../images/adv.jpg) no-repeat;
		transition: all .4s ease-out;
	}
	.ad:hover .ad-r {
		width: 794px;
		height: 470px;
		cursor: pointer;
	}
	.grid .grid-col2 {
		width: 790px;
		height: 100%;
		margin-left: 10px;
		box-sizing: border-box;
	} 
	.grid .grid-col2 .focus-img-l {
		width: 590px;
		height: 100%;
		padding-top: 10px;
		position: relative;
	}
	.arrow-l,
	.arrow-r {
		position: absolute;
		top: 50%;
		height: 40px;
		width: 25px;
		background-color: rgba(0, 0, 0, 0.4);
		transform: translateY(-50%);
		text-align: center;
		font-size: 24px;
		font-weight: 400;
		line-height: 40px;
	}
	.arrow-l{
		left: 0;
	}
	.arrow-r {
		right: 0;
	}
	.focus-img-l ul {
		position: absolute;
		left: 50px;
		bottom: 25px;
		width: 150px;
		height: 25px;	
	}
	.focus-img-l ul li {
		display: inline-block;
		width: 6px;
		height: 6px;
		border-radius: 50%;
		margin: 4px;
		border: 2px solid rgba(255, 255, 255, 0.2);
		float: left;
	}
	.focus-img-l ul li:hover {
		background-color: #fff;
		border: 2px solid #b9beba;
	}
	.grid .grid-col2 .focus-img-r {
		display: flex;
		flex-direction: column;
	}
	.grid .grid-col2 .focus-img-r img {	
		margin-top: 10px;
		flex: 1;
		transition: opacity 0.2s ease;
	}
	.grid .grid-col2 .focus-img-r img:hover {
		opacity: 0.8;
	}
	.grid .grid-col3 {
		width: 190px;
		height: 100%;
		padding-top: 10px;
	}
	.grid .grid-col3 .user {
		width: 190px;
		height: 150px;
		text-align: center;
		background-color: #fff;
	}
	.grid .grid-col3 .user .login {
		position: relative;
	}
	.grid .grid-col3 .user .login img {
		display: inline-block;
		border: 5px solid #e3e1df;
		border-radius: 50%;
		width: 55px;
		height: 55px;
		box-shadow: 6px 8px 10px rgba(0, 0, 0, 0.1), -2px 4px 10px rgba(0, 0, 0, 0.1);
		position: relative;
		left: 50%;
		top: -10px;
		transform: translateX(-50%);
	}
	.grid-col3 .user .login .hi {
		font-size: 12px;
		color: #888;
	}
	.grid-col3 .user .login .log,
	.grid-col3 .user .login .reg  {
		display: inline-block;
		margin-top: 8px;
		font-size: 12px;
		color: #666;
	}
	.grid-col3 .user .login .log {
		margin-right: 5px;
	}
	.grid-col3 .user .login .log:hover,
	.grid-col3 .user .login .reg:hover {
		color: #e43f3b;
	}
	.user .profit .lk,
	.user .profit .rk {
		width: 70px;
		height: 25px;
		margin-top: 12px;	
		border-radius: 13px;
		text-align: center;
		line-height: 25px;
		font-size: 12px;
		box-shadow: 6px 8px 20px rgba(45, 45, 45, .15);
	}
	.user .profit .lk a {
		color: #e43f3b;
	}
	.user .profit .rk a {
		color: #e5d790;
	}
	.user .profit .lk {
		margin-left: 20px;
		background-color: #fff;
	}
	.user .profit .rk {
		margin-right: 20px;
		background-color: #363634;
	}
	.user .profit .rk a:hover,
	.user .profit .lk a:hover {
		color: #fff;
	}
	.user .profit .lk:hover,
	.user .profit .rk:hover {
		cursor: pointer;
		transition: background-color .5s ease;
		background-color: #e43f3b;
	}
	.news {
		height: 130px;
		background-color: #fff;
		padding: 7px 8px 0;
	}
	.news-t {
		height: 20px;
		border-bottom: 1px solid #ccc;
		position: relative;
	}
	.news-t a {
		color: #333;
		height: 17px;
		line-height: 17px;
		width: 38px;
		font-size: 12px;		
	}
	.news-t .cuxiao {
		float: left;
		margin-left: 5px;
		margin-right: 15px;
		border-right: 1px solid #ccc;
	}
	.news-t div {
		height: 2px;
		width: 30px;
		background-color: #f10215;
		position: absolute;
		bottom: -1px;
		left: 3px;
	}
	.news-b {
		padding-top: 10px;
	}
	.news-b a {
		font-size: 12px;
		color: #666;
	}
	.news-b a:hover {
		color: #f10215;
	}
	.news-b li {
		margin-left: 5px;
		line-height: 20px;
		height: 20px;
	}
	.expand {
		height: 185px;
		background-color: #fff;
		overflow: hidden;
	}
	.expand ul {
		width: 200px;
		margin: 0 auto;
	}
	.expand li {
		width: 47px;
		height: 33%;
		border: 1px solid #eee;
		float: left;
	}
	.expand a {
		font-size: 12px;
		display: block;
		text-align: center;
		line-height: 60px;
	}
	.expand span {
		color: #bea68d;	
	}
	.expand span:hover {
		color: #f10215;
	}
/* 中间分类模块结束 */